html {
	font-size: 62.5%;
	overflow-y: scroll;
}

@media (min-width: 2561px) {
	html {
		font-size: 77.5%;
	}
}
@media (max-width: 2560px) {
	html {
		font-size: 70%;
	}
}
@media (max-width: 1920px) {
	html {
		font-size: 62.5%;
	}
}
@media (max-width: 1024px) {
	html {
		font-size: 62.5%;
	}
}
@media (max-width: 778px) {
	html {
		font-size: 55%;
	}
}
@media (max-width: 425px) {
	html {
		font-size: 50%;
	}
}
@media (max-width: 375px) {
	html {
		font-size: 45%;
	}
}
@media (max-width: 320px) {
	html {
		font-size: 40%;
	}
}
