@import url('../src/styles/fonts/fonts.css');
.App {
	font-family: 'NanumSquare';
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-use-select: none;
	user-select: none;
	letter-spacing: -0.1rem;
}
